/* SASS Variables */
:root {
    --white: #fff;
    --navy: #2e2f35;
    --navy-dark: #1e1e24;
    --navy-light: #494a50;
    --grey: #a5a5a4;
    --green: #20c270;
    --green-dark: #18a960;
  }
  
  ul.pushNav {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  .pushNav {
    height: 100%;
    position: fixed;
    top: 108px;
    z-index: 100;
    overflow: hidden;
    background: var(--navy);
    width: 100%;
    right: -100%;
    transition: cubic-bezier(0.51, 0.03, 0.64, 0.28) 0.4s;
  }
  
  .js-pushmobileMenu.isOpen,
  .pushNav_Level_Right.isOpen {
    right: 0;
  }
  
  .pushNav,
  .pushNav a {
    font-size: 1em;
    font-family: helvetica, sens-serif;
    font-weight: 100;
    color: var(--white);
    text-decoration: none;
  }
  
  .mobileMenuIsOpen {
    overflow: auto;
    height: 100%;
  }
  
  
  
  /*----------------*\
  ¦------OVERLAY-----¦
  \*----------------*/
  
  .js-navOverlay {
    position: fixed;
    margin-top: 108px;
    inset: 0;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 0;
    opacity: 0;
    pointer-events: none;
    transition: cubic-bezier(0.51, 0.03, 0.64, 0.28) 0.4s;
  }
  
  .js-navOverlay.active {
    opacity: 1;
  }
  
  .closeLevel,
  .openLevel {
    cursor: pointer;
  }
  
  .openLevel,
  .closeLevel,
  .pushNav a {
    padding: 1em 0;
    display: block;
    text-indent: 20px;
    transition: background 0.4s ease-in-out;
  }
  
  /* background classes */
  .openLevel:hover,
  .closeLevel:hover,
  .pushNav a:hover {
    background: var(--navy-light);
  }
  
  .hdg {
    background-color: var(--navy-dark);
  }
  
  /* close/goback font and icon */
  .closeLevel,
  .closelevel > i {
    font-size: 1em;
    color: var(--grey);
  }
  
  /*-------------*\
  #HAMBURGER
  \*-------------*/
  .js-menuToggle {
    cursor: pointer;
  }
  
  .bar {
    width: 20px;
    height: 2px;
    margin: 5px;
    background-color: #000000;
    transition: 0.25s;
  }
  
  .cross .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-7px, 3px);
  }
  
  .cross .bar:nth-child(2) {
    opacity: 0;
  }
  
  .cross .bar:nth-child(3) {
    transform: rotate(45deg) translate(-7px, -3px);
  }
  
  /* Font Awesome styles - delete if not using font awesome */
  .fa {
    display: inline;
    padding: 5px;
  }
  
  /* Delete body and .wrapper styles */
  body {
    background-color: rgb(93, 93, 93);
  }
  
  .wrapper {
    max-width: 625px;
    /* margin: 120px auto; */
    padding: 0 20px;
    color: var(--white);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.1em;
    line-height: 1.4em;
  }
  